<div class="wrap"><H3>
 From here you can configure your different freeultimate VIDEO GALLERIES, create new or delete existing ones. Above each gallery is the code to insert in your posts.</H3><br/><a href="http://www.pluginswp.com/ultimate-video-gallery">Download ULTIMATE VIDEO GALLERY FULL VERSION</a><br/><a href="http://www.pluginswp.com">Download more WORDPRESS VIDEO PLUGINS</a><br/><br/>
	<form method="post" action="">
	  <input name="crear" type="hidden" id="crear" value="1">
     <input type='submit' name='' value='Create New freeultimate' />
    </form>
</div>
<hr>
